admin/.terraform*
*.tfstate.*
*.tfstate
*.env
admin/ext*
admin/*secrets*
admin/configs/*.yaml
admin/configs/*config
*tmp*
*cilium-cni-patch.yaml
admin/talos_config/cilium-cni-patch.yaml
admin/k8s-cilium-exec.sh
