# Kubernetes conformance testing
While i have no intention of creating my own certified kubernetes distribution, I do have an intrest in making sure my cluster runs as expected. For this reason I do perform conformance testing following the official CNCF conformance testing process.

## What is Kubernetes conformance testing
Kubernetes conformance testing is a critical part of getting a Kubernetes distribution certified by CNCF, every certified kubernetes distribution must provide a passing test result to the [cncf/k8s-conformance github repo](https://github.com/cncf/k8s-conformance) 


The conformance testing follows the official kubernetes E2E test suit, all these tests can be found [here](https://github.com/kubernetes/kubernetes/tree/master/test/e2e) The goal is to test all API's in kubernetes in order to ensure a "product" that works as expected for a given version

## Test cluster conformance
There are primarily two tools that can be used for conformance testing

- **Sonobuoy** - This was for a long time the only publicly accessible conformance testing tool, it's developed by VMWare.

- **Hydrophone** - A newer lightweight testing tool developed by the Kubernetes testing SIG. Hydrophone also have good support for running individual tests, great for troubleshooting. 

Besides the above mentioned options, for talos there is also a conformance tool built in to talosctl, this is the tool the talos team uses to generate the official conformance reports to CNCF.

While i ofcourse trust that Talos is a good product, and that the built in conformance testing works, i decided to go with Hydrophone in order to have a more independant testing framework with good single test capabilities.

I created the following small script to do conformance testing, it can be found under *conformance/run_test.sh*
```bash
{% include "conformance/run_test.sh" %}
```

In order to run tests, from a terminal running in the conformance  directory run the following command. This will create a new directory with the conformance results, and update the symlink for the latest test.
```bash
./run_test.sh
```



## Test results
For my cluster this is the most recent test report summery
```
{% include "conformance/latest/e2e.log" %}
```
For complete test report, please see [latest junit_01.xml](https://github.com/AndersBallegaard/homelab-k8s/blob/main/conformance/latest/junit_01.xml)

