# Lab admin
This directory contains scripts and configuration related to lab administration

{% include "docs/infra/deployment/prepare_admin_node.md" %}

{% include "docs/infra/deployment/prepare_proxmox.md" %}

{% include "docs/infra/deployment/setup_cluster.md" %}



{% include "docs/footer.section" %}